<!-- <div id="sidebar"> -->
    <div class="row">
        <div class="col-xs-6 text-right">
            <p class="text-style-one">Useful</p>
        </div>
        <div class="col-xs-6">
            <ul>
                <li class="highlighted">
                architecture
                </li>
                <li>
                design
                </li>
                <li>
                places
                </li>
                <li>
                ideas
                </li>
                <li>
                conversation
                </li>
                <li>
                experience
                </li>
                <li>
                delight
                </li>
            </ul>
    </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <p class="text-style-three">Our full website will be launched soon, in the meantime if you would like to see more please contact us on the details below.</p>
        </div>
    </div>
    
<!--</div>--> 
