<!DOCTYPE html>
<html>
  {% include head.html %}

    <body>
    <div id="wrapper">
    <div id ="main-content" class="container">
      <div class="row">
          <div class="col-md-4">
               {% include sidebar.html %}
          </div>
          <div class="col-md-8">
              {{ content }}
          </div>
    
      </div><!-- /.row -->
    </div><!-- /.container -->
    
    
    <div id="footer">   
        {% include footer.html %}
    </div>
    
    </div><!-- /.wrapper -->
    </body>
</html>